{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2021",
    "keepClassNames": true,
    "baseUrl": "./",
    "paths": {
      "@shared/*": ["src/shared/*"],
      "@auth/*": ["src/auth/*"],
      "@users/*": ["src/users/*"],
      "@projects/*": ["src/projects/*"],
      "@sprints/*": ["src/sprints/*"],
      "@tasks/*": ["src/tasks/*"],
      "@clients/*": ["src/clients/*"],
      "@meetings/*": ["src/meetings/*"],
      "@goals/*": ["src/goals/*"],
      "@risks/*": ["src/risks/*"],
      "@user-stories/*": ["src/user-stories/*"],
      "@feedback/*": ["src/feedback/*"],
      "@achievements/*": ["src/achievements/*"],
      "@time-entries/*": ["src/time-entries/*"],
      "@notifications/*": ["src/notifications/*"],
      "@finances/*": ["src/finances/*"],
      "@metrics/*": ["src/metrics/*"],
      "@database/*": ["src/database/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "sourceMaps": true,
  "minify": false
}
