services:
  # NestJS Application (Production)
  # Conecta a DATABASE_URL (Render) en lugar de postgres local
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: backlog-pro-backend:prod
    pull_policy: build
    restart: always
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - '3001:3000'
    networks:
      - network-prod

networks:
  network-prod:
    driver: bridge
